apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: flaskdemo
  name: flaskdemo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: flaskdemo
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: flaskdemo
    spec:
      containers:
      - image: harish7587/flask:2
        name: flaskdemo
        resources: {}
status: {}
---
apiVersion: v1
kind: Service
metadata:
  name: my-cluster
spec:
  type: ClusterIP
  selector:
    app: flaskdemo
  ports:
    - port: 80
      targetPort: 5000
  externalIPs:
    - 192.168.49.2    
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: example-ingress

spec:
  rules:
  - host: "harish-suma.com"
    http:
      paths:
      - pathType: Prefix
        path: "/"
        backend:
          service:
            name: flaskdemo
            port:
              number: 5000
